<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  
<link href="css/style_preview.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/tooltip.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>

  <title>Privat Kunden</title>

  <link rel="stylesheet" href="css/bootstrap-fileupload.min.css" />
  <link href="css/style.default.css" rel="stylesheet">
  <link href="css/jquery.datatables.css" rel="stylesheet">
  <link rel="stylesheet" href="css/jquery.tagsinput.css" />
  <link rel="stylesheet" href="css/bootstrap-timepicker.min.css" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
  <div class="leftpanel">
    
    <div class="logopanel">
         <img alt="" src="images/logo.png">
    </div><!-- logopanel -->
    
    <div class="leftpanelinner">
        
        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">   
            <div class="media userlogged">
                <img alt="" src="images/photos/loggeduser.png" class="media-object">
                <div class="media-body">
                    <h4>Ibrahim Yildiz</h4>
                    <span>"Life is Life..."</span>
                </div>
            </div>
          
            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="new_user.php"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Konto Einstellungen Settings</span></a></li>

              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Abmelden</span></a></li>
            </ul>
        </div>
      
    <!-- Sart main Navigation -->  

      <h5 class="sidebartitle">Navigation</h5>
 		<ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="active"><a href="index.php"><i class="fa fa-home"></i><span>Startseite</span></a></li>        
            <li><a href="sales.php"><i class="fa fa-reorder"></i><span>Sales (Garagen)</span></a>
         
            <li class="nav-parent"><a href=""><i class="fa fa-group"></i><span>Kunden</span></a>
              <ul class="children" style="">
                <li><a href="dealer.php"><i class="fa fa-group"></i>Händler</a></li>
                <li><a href="private.php"><i class="fa fa-user-md"></i>Private Anbieter</a></li>
              </ul>
            </li>
    
            <li class="nav-parent"><a href=""><i class="fa fa-star"></i><span>Top Angebote</span></a>
              <ul class="children" style="">
                <li><a href="top_offer_mainpage.php"><i class="fa fa-caret-right"></i>Startseite Top Angebote</a></li>
                <li><a href="premium_single.php"><i class="fa fa-th-list"></i>Premium Single</a></li>
              </ul>
            </li>
    
            <li class="nav-parent"><a href=""><i class="fa fa-signal"></i><span>Verkaufsstatistik</span></a>
              <ul class="children" style="">
                <li><a href="total_sales.php"><i class="fa fa-line-chart"></i>Summary Verkauf</a></li>
                <li><a href="all_sales.php"><i class="fa fa-th-list"></i>Alle Verkäufer (ADMIN)</a></li>
              </ul>
            </li>
    
            <li class="nav-parent"><a href=""><i class="fa fa-desktop"></i><span>Verwaltung</span></a>
              <ul class="children" style="">
                <li><a href="request_list.php"><i class="fa fa-list-alt"></i>Anfragen</a></li>
                <li><a href="private_cars.php"><i class="fa fa-list-alt"></i>Private Autos</a></li>            
                <li><a href="mail_log.php"><i class="fa fa-envelope"></i>Mail-Log</a></li>
                <li><a href="phone_log.php"><i class="fa fa-phone"></i>Telefon-Log</a></li>
                <li><a href="cronjobs.php"><i class="fa fa-envelope"></i>Cronjobs</a></li>
                <li><a href="vouchers.php"><i class="fa fa-gift"></i>Gutscheine</a></li>
                <li><a href="email_blacklist.php"><i class="fa fa-gift"></i>E-Mail Blacklist</a></li> 
                <li><a href="manage_makes.php"><i class="fa fa-car"></i>Manage Makes</a></li>
                <li><a href="manage_models.php"><i class="fa fa-car"></i>Manage Models</a></li>
                <li><a href="jobs_log.php"><i class="fa fa-table"></i>Job summary</a></li>          
              </ul>
              
              </li>
    
              <li class="nav-parent"><a href=""><i class="fa fa-building"></i><span>Control</span></a>
              <ul class="children" style="">
                <li><a href="users.php"><i class="fa fa-user"></i>Benutzer CRM</a></li>
                <li><a href="manage_language.php"><i class="fa fa-comments"></i>Sprachen Manager</a></li>
<!--                 <li><a href="manage_email_template.php"><i class="fa fa-file"></i>Email Manager</a></li> -->
              </ul>
            </li>
        
        </ul>
        
    <!-- End from the Navigation -->  
      
      <div class="infosummary">
        <h5 class="sidebartitle">Statistik</h5>    
        <ul>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Abonnierte Händler</span>
                    <h4>2'204</h4>
                </div>
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Auto Inserate</span>
                    <h4>88'888</h4>
                </div>
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Job Inserate</span>
                    <h4>221</h4>
                </div>
            </li>              
            <li>
                <div class="datainfo">
                    <span class="text-muted">B2B Tauschfahrzeuge</span>
                    <h4>422</h4>
                </div>
            </li>                         
            <li>
                <div class="datainfo">
                    <span class="text-muted">Registrierte Private</span>
                    <h4>4'801</h4>
                </div>
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Anfragen</span>
                    <h4>101</h4>
                </div>
            </li> 
            <li>
                <div class="datainfo">
                    <span class="text-muted">Autos zu verkaufen</span>
                    <h4>54</h4>
                </div>
            </li>              
                      
        </ul>
      </div>  
<!-- infosummary -->
      
      
      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->     
      

  
  <div class="mainpanel">
    <div class="headerbar">
      
      <a class="menutoggle"><i class="fa fa-bars"></i></a>
      
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="images/photos/loggeduser.png" alt="" />
                Ibrahim Yildiz
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="new_user.php"><i class="glyphicon glyphicon-user"></i> Mein Profil</a></li>
                
                <li><a href="login.php"><i class="glyphicon glyphicon-log-out"></i> Abmelden</a></li>
              </ul>
            </div>
          </li>
          
        </ul>
      </div><!-- header-right -->
      
    </div><!-- headerbar -->
        
    <div class="pageheader">
      <h2><i class="fa fa-table"></i>Manage Mails</h2>
    </div>
    
    <div class="contentpanel">
      
      <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
        <div class="col-md-12">
          <div class="table-responsive">

<div class="form-group">
              <div class="col-sm-3">
                <input type="text" id="addedmail" placeholder="E-mail" class="form-control">
              </div>

              <div class="col-sm-2">
               <button class="btn btn-primary" id="addRow">Erfassen</button>
              </div>
            </div>

       <input id="addURL"  value="{{path('autolina_blacklist_add')}}"  type="hidden">
       <input id="delURL"  value="{{path('autolina_blacklist_del')}}"  type="hidden"/>
       <input id="editURL" value="{{path('autolina_blacklist_edit')}}" type="hidden"/>
       <input id="updateURL" value="{{path('autolina_blacklist_update')}}" type="hidden"/>

        <table class="table table-hidaction table-hover mb30 mailLogTable sortingTable" id="table2">
            <thead>
              <tr>
                <th>E-mail</th>
                <th>Actions</th>          
              </tr>
            </thead>

            <tbody>
            {#% for mail in mails %#}
              <tr>
                <td> </td>
                  <td class="table-action-hide">
                    <a href="#" data-toggle="modal" data-target=".make-modal-lg" data-type="editRow" style="opacity: 1;"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="delete-row" data-type="delRow"  style="opacity: 1;"><i class="fa fa-trash-o"></i></a>
                </td>           
              </tr>
            {#%endfor%#}
              
            </tbody>
          </table>
          </div><!-- table-responsive -->
         </div><!-- col-md-6 -->      
        </div>
       </div><!-- panel-body -->
      </div><!-- panel -->      
     </div><!-- contentpanel -->    
    </div><!-- mainpanel -->
  
  
  
</section>

<div class="modal fade make-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Edit E-mail</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">

            <div class="form-group">
              <label class="col-sm-3 control-label">E-mail</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="toEdit" value="joedoe@notneeded.com">
              </div>
            </div>

            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <button class="btn btn-primary" id="submitEdit" type="submit">Save Changes</button>
                </div>
              </div>
            </div>

          </form>
        </div>
    </div>
  </div>
</div>


<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>
<script type="text/javascript" src="wz_tooltip.js"></script> 

<script src="js/jquery.datatables.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

{%block route%}
<script src="js/custom.js"></script>
<script type="text/javascript" src="{{asset('bundles/autolinablacklist/js/blacklist.js')}}"></script>
<script src="js/blacklist.js"></script>
{%endblock%}
</body>
</html>
